table.reading_stats{
    width: 90%;
}

.reading_stats.category_column{
    width: 40%;
}

.reading_stats.year_column{
    width: 20%;
}

.reading_stats.chart_background{
    background-color: aliceblue;
}

.reading_stats.chart_bar{
    background-color: rgb(14, 75, 129);
}